/* My style */
/* 
BARRA DI SCORRIMENTO
*/
body {
  margin: 0;
  overflow-x: hidden;
  background-color: #000000;
}

/* Nascondi la barra di scorrimento standard */
body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Stile della barra di scorrimento */
body::-webkit-scrollbar {
  width: 12px; /* Larghezza della barra di scorrimento */
  background-color: #000000;
}

/* Stile del "thumb" (il rettangolo scorrevole) */
body::-webkit-scrollbar-thumb {
  background-color: #4285f4; /* Colore dello sfondo del thumb */
  border-radius: 6px; /* Arrotondamento dei bordi del thumb */
  border: 3px solid #000000; /* Bordo del thumb */
}

/*
NAVBAR 
*/
.icon-link {
  border: 3px solid white;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  background-color: transparent;
  transition: background-color 1.5s ease, margin 1s;
}

.icon-link:hover {
  background-color: #ffffff;
  margin: 5px 10px;
  color: rgb(3, 3, 3);
  /* Aggiungi questo se desideri modificare anche il colore del testo durante l'hover */
}



