/* My style */
/* 
BARRA DI SCORRIMENTO
*/
body {
  margin: 0;
  overflow-x: hidden;
}

/* Nascondi la barra di scorrimento standard */
body {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

/* Stile della barra di scorrimento */
body::-webkit-scrollbar {
  width: 12px; /* Larghezza della barra di scorrimento */
  background-color: #000000;
}

/* Stile del "thumb" (il rettangolo scorrevole) */
body::-webkit-scrollbar-thumb {
  background-color: #4285f4; /* Colore dello sfondo del thumb */
  border-radius: 6px; /* Arrotondamento dei bordi del thumb */
  border: 3px solid #000000; /* Bordo del thumb */
}

/*
NAVBAR 
*/
.icon-link {
  border: 3px solid white;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  background-color: transparent;
  transition: background-color 1.5s ease, margin 1s;
}

.icon-link:hover {
  background-color: #ffffff;
  margin: 5px 10px;
  color: rgb(3, 3, 3);
  /* Aggiungi questo se desideri modificare anche il colore del testo durante l'hover */
}



/*---------------------
         BANNER 
--------------------*/
.banner {
  margin-top: 0;
  padding: 200px 0 10px 0;
  background-image: url('./asset/img/banner-bg.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 20%;
}

.banner .tagline {
  font-weight: 500;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.777) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 100;
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  border-radius: 15px 50px 30px;
}

/* Stili per smartphone */
@media (max-width: 767px) {
  .banner .tagline {
    width: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    width: 100%;
  }
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}

@media (max-width: 767px) {
  .banner h1 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 50px;
    margin-top: 20px;
  }
}

.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}

.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

/* image effect */
.banner img {
  animation: updown 3s linear infinite;
  position: relative;
  border-radius: 50px;
  animation: rotate 4s linear infinite;
  animation: updown 4s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(365deg);
  }

}
@keyframes updown {
  0% {
    transform: translateY(-40px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-40px);
  }
}


/* Stili per smartphone */
@media (max-width: 767px) {
  .banner img {
    max-width: 100%;
    padding: 20px;
    margin-left: 50px;
    border-radius: 20px;
    animation: none;
    /* Disabilita l'animazione per gli smartphone */

  }
}




/*input*/

.line-text {
  color: transparent;
  animation: line-input 2s infinite;
  animation-duration: 2s;

}

@keyframes line-input {
  from {
    color: transparent;
  }

  to {
    color: white;
  }
}

.text-skills {
  background: linear-gradient(90.21deg, rgba(215, 121, 177, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(67, 45, 45, 0.5);
  border-radius: 10%;
  width: 100%;
  padding: 20px;

}

/* Stili per smartphone */
@media (max-width: 767px) {
  .text-skills {
    padding: 15px;
    /* Riduci il padding per adattarlo meglio a uno schermo più piccolo */
    width: 100%;
  }
}


/*---------------------------
    SKILLS FRAME
---------------------*/
.img-skills {
  border-radius: 50px;
  padding: 50px;
  width: 250px;
  border: solid 1px white;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  transition: border 1.5s ease, padding 1s, margin 0.5s, border-radius 2s, width 2s;

}
.img-skills:hover{
  border: solid 5px wheat;
  padding: 10px;
  border-radius: 0;
  width: 300px;

}


.scroll-skills {

  display: flex;
  flex-direction: row;


}
.img-description-skill {
  background-color: none;
  color: transparent;
  padding: 0px;
  border-radius: 30px;
  width: min-content;
  margin: 50px;
  cursor: pointer;
  color: white;
  font-weight: 400;


  transition: padding 0.2s, background-color 2s, color 0.5s, width 4s ease-in-out, margin, font-weight 1s ease-in-out;
}

 .img-description-skill:hover {
  background-color: #aa0f7633;
  font-weight: 600;
  
}
 
.img-description{
  margin: auto;
  margin-bottom: 10px;
  display: block;
  font-size: 30px;
  width: 200px;
  transition: color 2s;
}
