.App {
  text-align: center;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* My style */

.icon-link {
  border: 3px solid white;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  background-color: transparent;
  transition: background-color 1.5s ease, margin 1s;
}

.icon-link:hover {
  background-color: #ffffff;
  margin: 5px 10px;
  color: rgb(3, 3, 3); /* Aggiungi questo se desideri modificare anche il colore del testo durante l'hover */
}



/*---------------------
         BANNER 
--------------------*/
.banner {
  margin-top: 0;
  padding: 260px 0 10px 0;
  background-image: url('./asset/img/banner-bg.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner .tagline {
  font-weight: 500;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.777) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 100;
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  border-radius: 15px 50px 30px;
}
/* Stili per smartphone */
@media (max-width: 767px) {
  .banner .tagline {
    width: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    width: 100%;
  }
}

.banner h1 {
  font-size: 65px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
}
@media (max-width: 767px) {
  .banner h1 {
    font-size: 20px; 
    margin-bottom: 10px; 
    margin-left: 50px;
    margin-top: 20px;
  }
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}

/* image effect */
.banner img {
  max-width: 45%;
  margin: 10px;
  animation: updown 3s linear infinite;
  border: solid 2px rgba(237, 237, 230, 0.57);
  border-radius: 50px ;
  padding: 50px;
  background-color: #ffffff5c;
}
/* Stili per smartphone */
@media (max-width: 767px) {
  .banner img {
    max-width: 100%;    
    padding: 20px;
    margin-left: 50px;
    border-radius: 20px;
    animation: none; /* Disabilita l'animazione per gli smartphone */

  }
}

/* img skills */


@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}


/*input*/

.line-text {
  color: transparent;
  animation: line-input 2s infinite;
  animation-duration: 2s;

}

@keyframes line-input {
  from{
    color: transparent;
  }
  to{
    color: white;
  }
}

.text-skills{
  background: linear-gradient(90.21deg, rgba(215, 121, 177, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(67, 45, 45, 0.5);
  border-radius: 10%;
  width:100%;
  padding: 20px;

}

/* Stili per smartphone */
@media (max-width: 767px) {
  .text-skills {
    padding: 15px; /* Riduci il padding per adattarlo meglio a uno schermo più piccolo */
    width: 100%;
  }
}